<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_practice2.mapper.BookMapper">
	<select id="findAll" resultType="com.example.spring_practice2.model.Book">
		select * from books;
	</select>
	
	<insert id="create">
		insert into books(title, body) values (#{title}, #{body});
	</insert>
	
	<select id="show" resultType="com.example.spring_practice2.model.Book">
		select * from books where id = #{bookId};
	</select>
	
	<update id="update">
		update books set title = #{title}, body = #{body} 
		where id = #{id};
	</update>
	
	<delete id="delete">
		delete from books where id = #{bookId};
	</delete>
</mapper>